@import "tailwindcss";

:root {
  --primary-color: #f97316;
  --website-background: #111827;
  --content-border-color: #ffb86a;
  --webiste-text: #fff ;
  --second-color: #ffb86a ;
}



@layer components{ 
 .theme {
  @apply bg-orange-600 
 }
}

