@import "tailwindcss";

:root {
  --primary-color: #f97316;
  --website-background: #111827;
  --content-border-color: #ffb86a;
  --webiste-text: #fff ;
  --second-color: #ffb86a ;
  --navbar-color : #111827 ;
  --footer-color : #000000 ;
  --text-color : #fff ;
  --listing-box-background : #0f172a  ;
  --listing-box-highlight :#f97316 ;
  --listing-box-superTop-color : #f97316 ;
}



@layer components{ 
 .theme {
  @apply bg-orange-600 
 }
}

